<html>
  <body>
    <div>
      <% if (products.length === 0) { %>
      <p>No products yet</p>
      <a href="/newProduct"><p>add a product to <%= product %></p></a>
      <%} else { %> <% products.forEach(product => { %>
      <a href="/<%= product.id%>/edit"><div><%= product.product %></div></a>
      <div>
        <a href="/<% product.id%>/delete">delete</a>
      </div>

      <%})%> <% } %>
      <a href="/newProduct"><p>create a product</p></a>
    </div>
  </body>
</html>
