<html>
  <head>
    <link rel="stylesheet" href="/categoryProducts.css" />
  </head>
  <body>
    <div>
      <% if (products.length === 0) { %>
      <div class="noProds">
        <h1>No products yet</h1>
        <a class="link" href="/products/newProduct"><p>add a product</p></a>
      </div>
      <%} else { %> <% products.forEach(product => { %>
      <a class="link" href="/products/<%= product.id%>/edit"
        ><div><%= product.name %></div></a
      >
      <div>
        <form action="/products/<%= product.id%>/delete" method="POST">
          <button type="submit">delete</button>
        </form>
      </div>

      <%})%>
      <a href="/products/newProduct"><p>create a product</p></a>
      <% } %>
    </div>
  </body>
</html>
