<html>
  <head>
    <link rel="stylesheet" href="/categoryProducts.css" />
  </head>
  <body>
    <div>
      <% if (products.length === 0) { %>
      <div class="noProds">
        <h1>No products yet</h1>
        <a class="link" href="/products/newProduct"><p>add a product</p></a>
      </div>
      <% } else { %>
      <div class="inventoryParentGrid">
        <div>create a product</div>
        <% products.forEach(product => { %>
        <div class="productGrid">
          <div class="name"><%= product.name %></div>
          <div class="brand"><%= product.brand %></div>
          <div class="category"><%= product.category %></div>
          <div class="price"><%= product.price %></div>
        </div>
        <% }) %>
      </div>
      <% } %>
    </div>
  </body>
</html>
