<html>
  <body>
    <div>
      <% if (products.length === 0) { %>
      <p>No products yet</p>
      <a href="/products/newProduct"><p>add a product to <%= product %></p></a>
      <%} else { %> <% products.forEach(product => { %>
      <a href="/products/<%= product.id%>/edit"
        ><div><%= product.name %></div></a
      >
      <div>
        <form action="products/<%= product.id%>/delete" method="POST">
          <button type="submit">delete</button>
      </div>

      <%})%> <% } %>
      <a href="/products/newProduct"><p>create a product</p></a>
    </div>
  </body>
</html>
