<html>
  <body>
    <div>
      <% if (products.length === 0) { %>
      <p>No products yet</p>
      <a href="/createCategory"><p>add a product to <%= product %></p></a>
      <%} else { %> <% products.forEach(product => { %>
      <a href="/categories/<%= product.id%>"
        ><div><%= product.product %></div></a
      >
      <div>
        <a href="/updateProduct/<% product.id %>">update</a>
        <a href="/deleteProduct/<% product.id%>">delete</a>
      </div>

      <%})%> <% } %>
      <a href="/createProduct"><p>create a product</p></a>
    </div>
  </body>
</html>
