<html>
  <body>
    <form action="/products/newProduct" method="POST">
      <% if (error) { %>
      <h2><%= error %></h2>
      <% } %>
      <label for="product">Product:</label>
      <input name="name" id="name" />
      <label for="product">Price:</label>
      <input name="price" id="price" />
      <label for="product">Brand:</label>
      <input name="brandName" id="brand" />
      <label for="category">Category:</label>
      <input name="categoryName" id="category" />
      <button>submit</button>
    </form>
  </body>
</html>
