<html>
  <head>
    <link rel="stylesheet" href="/newProd.css" />
  </head>
  <body>
    <div class="newProd">
      <form
        class="form"
        action="/categories/<%= category %>/newProduct"
        method="POST"
      >
        <% if (error) { %>
        <h2 class="title"><%= error %></h2>
        <% } %>
        <h2 class="title">Enter product details</h2>
        <div class="label-input">
          <label for="product">Product:</label>
          <input name="name" id="name" required />
        </div>

        <div class="label-input">
          <label for="product">Brand:</label>
          <input name="brandName" id="brand" required />
        </div>
        <div class="label-input">
          <label for="category">Category:</label>
          <input
            name="categoryName"
            id="category"
            value="<%= category %>"
            required
          />
        </div>
        <div class="label-input">
          <label for="product">Price:</label>
          <input name="price" id="price" required />
        </div>
        <div class="label-input">
          <label for="quantity">Quantity:</label>
          <input name="quantity" id="quantity" required />
        </div>
        <button class="btn">submit</button>
        <a class="link" href="/categories/<%= category %>">cancel</a>
      </form>
    </div>
  </body>
</html>
