<html>
  <body>
    <form action="/categories/newCategory" method="POST">
      <% if (error) { %>
      <h2><%= error %></h2>
      <% } %>
      <label for="category">Category:</label>
      <input name="category" id="category" />
      <button>create category</button>
    </form>
  </body>
</html>
