<html>
  <body>
    <form action="/createProduct" method="POST">
      <% if (error) { %>
      <h2><%= error %></h2>
      <% } %>
      <label for="product">Product:</label>
      <input name="product" id="product" />
    </form>
  </body>
</html>
