<html>
  <body>
    <h2>Cakeface. Inventory</h2>
    <div>
      <% if (categories.length === 0) { %>
      <p>No categories yet</p>
      <a href="/categories/newCategory"><p>create a category</p></a>
      <%} else { %> <% categories.forEach(category => { %>
      <a href="/categories/<%= category.id%>"
        ><div><%= category.category %></div></a
      >
      <div>
        <a href="/<%= category.id%>/edit">update</a>
        <a href="/<%= category.id %>/delete">delete</a>
      </div>

      <%})%> <% } %>
      <a href="/newCategory"><p>create a category</p></a>
    </div>
  </body>
</html>
