<html>
  <head>
    <title>Cakeface Inventory</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div class="title">Cakeface. Inventory</div>
    <div class="categoryHomeDiv">
      <% if (categories.length === 0) { %>
      <p>No categories yet</p>
      <a href="/categories/newCategory"><p>create a category</p></a>
      <%} else { %>
      <div class="search-add">
        <div class="search">search</div>
        <a href="/categories/newCategory">create a category</a>
      </div>
      <div class="categoryMainGrid">
        <% categories.forEach(category => { %>
        <div class="catCard">
          <a class="catName" href="/categories/<%= category.category%>">
            <div><%=category.category %></div>
          </a>
          <div class="buttons">
            <a href="/categories/<%= category.category%>/edit">update</a>
            <form
              class="form"
              action="/categories/<%=category.category%>/delete"
              method="POST"
              onsubmit="return confirm('Are you sure you want to delete this category?');"
            >
              <button class="dlt" type="submit">delete</button>
            </form>
          </div>
        </div>
        <%})%>
      </div>
      <% } %>
    </div>
  </body>
</html>
