<html>
  <head>
    <title>Cakeface Inventory</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div class="title">Cakeface. Inventory</div>
    <div class="categoryHomeDiv">
      <% if (categories.length === 0) { %>
      <p>No categories yet</p>
      <a href="/categories/newCategory"><p>create a category</p></a>
      <%} else { %>
      <div class="categoryMainGrid">
        <% categories.forEach(category => { %>
        <div class="catCard">
          <div class="catName">
            <a href="/categories/<%= category.id%>">
              <%=category.category %>
            </a>
          </div>
          <div class="buttons">
            <a href="/categories/<%= category.id%>/edit">update</a>
            <form
              class="form"
              action="/categories/<%=category.id%>/delete"
              method="POST"
            >
              <button class="dlt" type="submit">delete</button>
            </form>
          </div>
        </div>
        <%})%>
      </div>
      <div class="createCategoryDiv">
        <a href="/categories/newCategory">create a category</a>
      </div>
      <% } %>
    </div>
  </body>
</html>
