<html>
  <body>
    <h2>Inventory at Cakeface.</h2>
    <div>
      <% if (categories.length === 0) { %>
      <p>No categories yet</p>
      <p>create a category</p>
      <%} else { %> <% categories.forEach(category => { %>
      <a href="/categories/<%= category.id%>"
        ><div><%= category.category %></div></a
      >

      <%})%>
      <p>create a category</p>
      <% } %>
    </div>
  </body>
</html>
