<html>
  <body>
    <form action="/categories/:id/edit" method="POST">
      <% if (error) { %>
      <p>Whoops! <%= error %></p>
      <% }%>
      <label>Category</label>
      <input name="category" value="<%= category.category %>" />
    </form>
  </body>
</html>
