<html>
  <body>
    <form action="/categories/<%= category.id %>/edit" method="POST">
      <% if (message) { %>
      <p>Whoops! <%=message%></p>
      <% }%> <% if (error) { %>
      <p>Whoops! <%=error%></p>
      <% }%>
      <label>Category</label>
      <input name="category" value="<%= category.category %>" />
      <button>update</button>
    </form>
  </body>
</html>
