* {
  box-sizing: border-box;
}

.inventoryParentGrid,
.search-add,
.options,
.categoryName {
  display: flex;
}

.inventoryParentGrid {
  flex-direction: column;
}

.categoryName {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-style: italic;
}

.options {
  justify-content: space-between;
  align-items: center;
}

.search-add {
  align-items: center;
  justify-content: center;
  gap: 150px;
  font-size: 1.5rem;
}

.inventoryParentGrid {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  gap: 20px;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
}

.inventory-table th,
.inventory-table td {
  border: 1px solid gray;
}

td {
  text-align: center;
}

td.options {
  border-top: none;
  border-left: none;
  padding-left: 5px;
  padding-right: 5px;
}

.productInv:hover {
  background-color: rgb(246, 236, 187);
  cursor: pointer;
}

.form {
  display: contents;
}

.edit {
  border: 1px solid #a199ff;
}

.dlt {
  border: 1px solid rgb(116, 183, 216);
  margin: 0;
  padding: 0;
}

.edit,
.dlt {
  width: 40px;
  background-color: rgb(255, 255, 255);
}

.noProds {
  display: flex;
}

.noProds {
  flex-direction: column;
}

.noProds {
  align-items: center;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}
