.inventoryParentGrid,
.search-add {
  display: flex;
}

.productGrid {
  display: grid;
}

.inventoryParentGrid {
  flex-direction: column;
}

.inventoryParentGrid {
  width: 100%;
  height: 100%;
}

.productGrid {
  grid-template-columns: repeat(6, auto);
  align-items: center;
  text-align: center;
}

.noProds {
  display: flex;
}

.noProds {
  flex-direction: column;
}

.noProds {
  align-items: center;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}
