* {
  box-sizing: border-box;
}

.inventoryParentGrid,
.search-add,
.options {
  display: flex;
}

.inventoryParentGrid {
  flex-direction: column;
}

.options {
  justify-content: space-between;
  align-items: center;
}

.inventoryParentGrid {
  width: 100%;
  height: 100%;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
}

.inventory-table th,
.inventory-table td {
  border: 1px solid gray;
}

td {
  text-align: center;
}

td.options {
  border-top: none;
  border-left: none;
}

.form {
  display: contents;
}

.dlt {
  border: none;
  background-color: white;
  margin: 0;
  padding: 0;
}

.noProds {
  display: flex;
}

.noProds {
  flex-direction: column;
}

.noProds {
  align-items: center;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}
