.inventoryParentGrid,
.search-add {
  display: flex;
}

.inventoryParentGrid {
  flex-direction: column;
}

.inventoryParentGrid {
  width: 100%;
  height: 100%;
}

.noProds {
  display: flex;
}

.noProds {
  flex-direction: column;
}

.noProds {
  align-items: center;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}
