.inventoryParentGrid,
.search-add {
  display: flex;
}

.productGrid {
  display: grid;
}

.inventoryParentGrid {
  flex-direction: column;
}

.productGrid {
  grid-template-columns: ;
}

.noProds {
  display: flex;
}

.noProds {
  flex-direction: column;
}

.noProds {
  align-items: center;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}
