* {
  box-sizing: border-box;
}

.catCard,
.catName,
.buttons,
.categoryHomeDiv,
.search-add {
  display: flex;
}

.catCard,
.categoryHomeDiv {
  flex-direction: column;
}

.categoryHomeDiv {
  align-items: center;
}

.categoryHomeDiv {
  padding-bottom: 20px;
  height: 100%;
}

.categoryMainGrid {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-auto-rows: 250px;
  margin-left: 25px;
  margin-right: 25px;
  justify-items: center;
  gap: 25px;
}

.search-add {
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 80px;
}

.search {
  width: 300px;
  text-align: center;
}

.catCard {
  height: 100%;
  width: 250px;
  border: 1px solid gray;
  border-radius: 4%;
}

.buttons {
  height: 20%;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}

.form {
  display: contents;
}

.catName {
  height: 80%;
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.createCategoryDiv {
  margin-top: 100px;
  text-align: center;
  font-size: 1.5rem;
}

.title {
  display: flex;
  justify-self: center;
  font-size: 3rem;
  padding-top: 50px;
  padding-bottom: 50px;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

.dlt {
  border: none;
  background-color: white;
  margin: 0;
  padding: 0;
}
