.categoryHomeDiv {
  display: grid;
}

.categoryHomeDiv {
  grid-template-columns: repeat(4, 1fr);
}

.title {
  display: flex;
  justify-self: center;
  font-size: 2.5rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}
